@model IEnumerable<ExamAndQuiz.Models.ExamResult>

@{
    ViewBag.Title = "Nəticələr";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
}

<h2>İmtahan Nəticələri</h2>


@using (Html.BeginForm("IndexResult", "ExamResult", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <table>
            <tr>
                <td>
                    <div class="form-group">
                        <div class="col-md-12">
                            <select name="imtahanID" class="form-control" style="width:300px">
                                @foreach (var item in Model)
                                {
                                    <option value="@item.Exam.ID">@item.Exam.Ad</option>
                                }
                            </select>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Məlumatları gətir" class="btn btn-outline-accent" />
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
}
