@model IEnumerable<ExamAndQuiz.Models.QuestionType>

@{
    ViewBag.Title = "Sual Tipləri";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
}

<h2>Sual Tipləri</h2>

<p>
    <a href="/QuestionType/Create" class="btn btn-outline-dark">Yeni Tip</a>
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tip)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tip)
            </td>
            <td style="width:100px; text-align:center">
                <a href="/QuestionType/Edit/@item.ID"><i class="fa fa-edit" style="color:green"></i></a> |
                <a href="/QuestionType/Delete/@item.ID"><i class="fa fa-times-circle" style="color:red"></i></a>
            </td>
        </tr>
    }

</table>
