
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div> 
        Bu imtahanada istirak etmisiniz 
    </div>
    <a href="/Home/Index">Geri Don</a>
</body>
</html>
