@model IEnumerable<ExamAndQuiz.Models.ExamType>

@{
    ViewBag.Title = "İmtahan Tipi";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
}

<h2>İmtahan Tipi</h2>

<p>
    <a href="/ExamType/Create" class="btn btn-outline-dark" >Yeni Tip</a>
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Adi)
        </td>
        <td style="width:100px; text-align:center">
            <a href="/ExamType/Edit/@item.ID"><i class="fa fa-edit" style="color:green"></i></a> |
            <a href="/ExamType/Delete/@item.ID"><i class="fa fa-times-circle" style="color:red"></i></a>
        </td>
    </tr>
}

</table>
