@model ExamAndQuiz.Models.Grade

@{
    ViewBag.Title = "Sil";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
}

<h2>Sil</h2>

<h3>Silinən məlumatlar bərpa edilə bilməz</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sinif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sinif)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-outline-info" />
            <a href="/Grade/Index" class="btn btn-outline-dark">Geri</a>
        </div>
    }
</div>
